*{margin: 0;padding: 0;}
.base-format{
		height: 60px;
		line-height: 60px;
		margin: 10px;
}
.base-select {
	width: 100%;
}
.base-star{
	color:#fa5555;
	font-size: 14px; 
}
.base-mark {
	position: absolute;
	line-height: 14px;
	color: #fa5555;
	font-size: 14px;
}
.cont-head {
	color: #000;
	font-weight: bold;
}
.qual {
	margin-top: 20px;
}

.qual-singe{
	margin-bottom: 10px;
	padding: 10px;
}
.qual .el-card__body {
	padding: 0px;
}
.panel-singe {
	height: 80px;
	line-height: 80px;
}



.mar-t-min{
	margin-top: 10px;
}
.mar-t-mid{
	margin-top: 20px;
}
